/* Basic reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
}

.logo-container img {
    height: 70px;
    margin-left: 5px;
}

/* Navbar styles */
.navbar {
    background-color: #000000;
    color: white;
    padding: 10px 10px;

}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1700px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-right: 20px;
    font-size: 1.2em;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

.main-content {
    display: flex;
    margin: 0px;
    height: calc(100vh - 60px);
}

.sidebar {
    width: 200px;
    background-color: #000000;
    padding: 20px;
}

.sidebar h2 {
    font-size: 23px;
    margin: 15px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #b3b3b3;
}

.sidebar .btn {
    display: inline-block;
    padding: 10px 5px;
    margin: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #000306;
    border: none;
    border-radius: 5px;
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflow text */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */
    width: 100%; /* Adjust width to fit the sidebar */
}

.sidebar .btn:hover {
    background-color: #383333;
}

.sidebar .current-btn {

    display: inline-block;
    padding: 10px 5px;
    margin: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #353535;
    border: none;
    border-radius: 5px;
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflow text */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */
    width: 100%; /* Adjust width to fit the sidebar */
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column; /* 垂直排列内容和输入框 */
    padding: 20px;
    background-color: #171717;
    overflow: hidden; /* 确保内容不溢出 */
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* 控制按钮之间的间距 */
    padding: 20px;
}

.button {
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.button img {
    width: 180px; /* 控制图像大小 */
    height: 100px;
}

.button p {
    margin-top: 10px;
    font-size: 18px;
}

.button:hover {
    transform: scale(1.1); /* 悬停时放大 */
}


.response {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* 内容过多时允许滚动 */
}

.input-area {
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #1b1b1b;
    border-top: 1px solid #383333;
}

.input-area input {
    flex: 1;
    padding: 10px;
    border: 1px solid #383333;
    border-radius: 5px;
    background-color: #444;
    color: white;
}

.input-area button {
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: rgb(54, 50, 50);
    cursor: pointer;
}

.input-area button:hover {
    color: #ffffff;
    background-color: #0056b3;
}

.response-message {
    background-color: #252020;
    padding: 20px;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: 10px; /* 间隔 */
}

.response-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.response-buttons button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000306;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
}

.response-buttons button:hover {
    background-color: #383333;
}

.messages {
    /* max-width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between messages */
    word-wrap: break-word; /* Break long words */
    overflow-wrap: break-word; /* Break long words */
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
}

.message {
    max-width: 100%;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.5;

}

.message.user {
    background-color: #383333;
    color: #fff;
    align-self: flex-end;
    text-align: right; /* Align to right for user messages */
    margin-right: 10px;
    
}

.message.response {
    background-color: #252020;
    color: #ffffff;
    align-self: flex-start; /* Align to left for responses */
    text-align: left;
    max-width: calc(100% - 20px);

}